@mixin transform-translate($y) {
  -webkit-transform: translate(0, $y);
  -moz-transform: translate(0, $y);
  -ms-transform: translate(0, $y);
  -o-transform: translate(0, $y);
  transform: translate(0, $y);
}
