@import "../variables";
@import "responsiveness";

@mixin user-search($height, $path-to-mag, $path-to-clear, $path-to-error-image) {
  .user-search {
    width: 100%;
    height: $height;
    padding: 6px 0;
    border-bottom: 1px solid $color-list-border;
    position: relative;

    .search-input-image {
      height: 25px;
      width: 20px;
      background: url($path-to-mag) no-repeat center;
      background-size: 100%;
      float: left;

      &.clear-input {
        background: url($path-to-clear) no-repeat center;
      }
    }

    .search-input {
      width: 85%;
      margin-left: 5%;
      height: 70%;
      font-size: 13px;
      padding-top: 4px;
      float: left;
      @media #{$mobile} {
        font-size: 16px;
      }
    }
    .search-input:empty::before {
      content: $content-search-input-default;
      color: #6d7c9d;
    }
    .search-input:focus {
      outline: 0 solid transparent;
    }
    .search-input:focus:empty::before {
      content: $content-message-input-empty;
    }
  }

  .search-error-container {
    margin-top: 2%;
    .no-search-results {
      text-align: left;
      color: $color-gray-darkest;
      padding: 3%;
      @media #{$mobile} {
        font-size: 18px;
      }
      font-size: 14px;
    }
    .search-error-image {
      height: 3em;
      @media #{$mobile} {
        height: 4em;
      }
      width: 13%;
      margin: 0 4% 0 4% ;
      background: url($path-to-error-image) no-repeat center;
      background-size: 100%;
      float: left;
    }
  }
}
